
*{
  margin:0;
  box-sizing:border-box;
}
body{

  margin: 0 auto;
}
@import url('https://fonts.googleapis.com/css2?family=Cantarell:ital,wght@0,400;0,700;1,400;1,700&family=Fjalla+One&display=swap');

h3{
font-family: "Fjalla One",serif;
 font-weight: 400;
 font-size: 2rem;
 text-shadow: #00a1a1be 2px 2px 4px;
 margin: 10px auto
}

h4{
font-family: "Cantarell",serif;
 text-align: center;
 font-weight: 400;
 font-size: 1.2rem;
 text-shadow: #00a1a1ef 2px 2px 4px;
 margin:  auto 20px auto 30px
}

.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 92vh; 
  width: 100%;
  background-image: url('../multimedia/space.jpg');
  background-size: cover; 
  background-position: center;
  padding-bottom:2rem;
}
/*nav*/
.nav__container {
  display: flex;
  justify-content: start; 
  padding: 1rem;
  max-width: 1200px;
  width: 100%;
}

.nav__logo img {
 height: 6rem; 
}

.grid-layout {
  display: grid;
  gap: 20px;
  max-width: 1200px ;
  width: 90%;
  margin: 0 auto;
}

.card {
 background-color: #f0f0f0;
 border: 1px solid #000000;
 border-radius: 10px;
 box-shadow: 0 0 10px rgb(0, 0, 0);
 text-align: center;
}
.card h3 {
margin: 20px 5px 20px 5px;

}

@media (max-width: 768px){
 .jumphigh__logo{
  width: 30rem;

 }
 .grid-layout{
  grid-template-columns: 1fr;
 }


  .hero{
    height:95% 
  }

  .high-scores{
    width: 5%;
   }
   .login-form{
    margin: 10%; 
  }
}

  @media (max-width: 600px) {
   .jumphigh__logo{
    width: 15rem;
   }

  
  }


@media (min-width: 768px) {
  .grid-layout {
    grid-template-columns: repeat(2, 1fr); 
  }
  .jumphigh__logo{
    width: 25rem;
  }
  .login-form{
    width: 300px;
    margin: 5% auto;
  }

}
.jumphigh__logo {
  height: auto;
  margin: 0 auto;
}

.login-form {
 display: flex;
 flex-direction: column;
 align-items: center; 
 padding: 20px;
 border: 1px solid #ccc;
 border-radius: 10px;
 box-shadow: 0 0 10px rgba(0, 0, 0, 0.521);
 background-color: #ccc;
}

.input-group {
 margin-bottom: 20px;
}

.input-group label {
 display: block;
 margin-bottom: 10px;
 font-weight: bold;
 font-family: "Cantarell",serif;
}

.input-group input {
 width: 100%;
 padding: 10px;
 border: 1px solid #ccc;
}

input[type="text"], input[type="password"] {
  border: 1px solid #000000;
}
button[type="submit"] {
 background-color: #0051ff;
 color: #fff;
 padding: 10px 20px;
 border: none;
 border-radius: 5px;
 cursor: pointer;
 font-family: "Cantarell",serif; 
}
.button__start {
  background-color: #0051ff;
  color: #fff;
  padding: 5px;
  text-align: center;
   width: 200px;
   box-shadow: #000000 2px 2px 4px;
   height: 40px;
  font-family: "Cantarell",serif;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  position: center;
  margin: 0 auto 10px auto;
  text-decoration: none;
 }
button[type="submit"]:hover , .button__start:hover {
 background-color: #0051ffb9;
 scale: 1.05;
}

.table th,.table td{
  border: 1px solid #020202;
  padding: 10px;
  text-align: center;
}

/*footer**/

footer {
  background-color: #ffffff;
  color: #817e7e;
  text-align: center;
  margin: 0.8rem auto;
  width: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: auto;
}

.footer-content a {
  color: #0051ff;
  text-decoration: none;
}

.footer-content a:hover {
  color: #ccc;
}